.comment{
    max-height:400px ;
    overflow-y: auto;
}
@media (max-width:768px) {
   
      ::placeholder{
          font-size: 10px;
          font-weight: 500;
      }
}
@media (min-width:768px) {
  ::placeholder{
      font-size: 8px;
      font-weight: 500;
  }  
}