<section
  #Commentspage
  id="{{ thePostid }}"
  (click)="closehidden($event)"
  class="flex flex-col p-1 commentpage"
>
  <!-- commemnt -->
  <div
    class="comment flex flex-col overflow-x-hidden border border-gray-300 shadow-2xl dark:bg-[#1C1C1D] m-3 p-1"
  >
    @if (newestWord==false && commentList) {
    <h3
      class="text-lg dark:text-gray-500 mx-3 text-center pt-3 h-[100px] flex justify-between items-center"
    >
      <h4>{{ "comment.No Comments" | translate }} .</h4>
      <span
        (click)="closeComment(thePostid)"
        class="border-white border-2 p-1 hover:border-gray-300 dark:border-[#1C1C1D] rounded-md"
        ><i class="fa-solid fa-xmark fa-lg"></i
      ></span>
    </h3>
    } @if (newestWord==true) {
    <h3
      class="font-bold text-lg underline dark:text-gray-300 mx-3 flex justify-between items-center"
    >
      <h4>{{ "comment.Newest" | translate }}:</h4>
      <span
        (click)="closeComment(thePostid)"
        class="border-white border-2 p-1 hover:border-gray-300 dark:border-[#1C1C1D] rounded-md"
        ><i class="fa-solid fa-xmark fa-lg"></i
      ></span>
    </h3>
    } @for (comment of commentList; track comment.id) {
    <div
      class="bg-gray-200 rounded my-2 p-5 relative dark:bg-gray-700 dark:text-white dark:border dark:border-gray-500"
    >
      <div class="title flex items-center gap-5">
        @if (comment.commentCreator.photo) {
        <img
          class="w-10 h-10 rounded-full"
          [src]="comment.commentCreator.photo"
          alt="{{ comment.commentCreator.name }} profile"
        />
        }
        <h3 class="font-medium dark:text-white">
          {{ comment.commentCreator.name }}
        </h3>
        <span class="font-light text-gray-600 dark:text-gray-300">{{
          comment.createdAt | date
        }}</span>
        <div class="menu ms-auto">
          <span
            (click)="thehidden(comment.id)"
            (click)="dots($event, comment.id)"
          >
            <i class="fa-solid fa-ellipsis mmm"></i
          ></span>
          @if (comment.commentCreator._id==id) {
          <div
            #theComment
            id="{{ comment.id }}"
            class="maro hidden overflow-hidden rounded-lg bg-slate-100 justify-center items-center dark:bg-[#1C1C1D] ltr:top-0 ltr:right-0 rtl:left-0 rtl:top-0"
          >
            <button
              (click)="deleteComment(comment.id)"
              type="button"
              class="dark:text-neutral-50 block px-5 py-2"
            >
              {{ "comment.Delete" | translate }}
            </button>
            <!-- model toggle -->
            <button
              (click)="updateComment(comment)"
              type="button"
              class="dark:text-neutral-50 block px-4 py-2 border-t border-black"
            >
              {{ "comment.UpDate" | translate }}
            </button>
          </div>
          }
        </div>
      </div>
      <p class="text-gray-600 mt-4 dark:text-white">{{ comment.content }}</p>
    </div>
    }
  </div>
  @if (messageerror) {
  <div
    class="text-red-700 bg-red-100 border-red-200 border-4 rounded-lg flex justify-between p-1 text-center"
  >
    <p>
      {{
        "comment.Sorry, The Post Owner Has Blocked You From Doing This."
          | translate
      }}
    </p>
    <p>
      <span
        (click)="closeerrormessg()"
        class="border-rose-200 border-2 p-1 hover:border-red-600 rounded-md"
        ><i class="fa-solid fa-xmark fa-lg"></i
      ></span>
    </p>
  </div>
  }
  <!-- add comment -->
  <form
    id="addform"
    [formGroup]="commentGroup"
    (ngSubmit)="createComment()"
    class="flex items-center px-3 py-2 bg-gray-50 dark:bg-[#1C1C1D] dark:border-t dark:border dark:border-gray-600"
  >
    <textarea
      formControlName="content"
      id="chat"
      rows="1"
      class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-[#1C1C1D] dark:text-white"
      placeholder="{{ 'comment.Your Comment' | translate }}, {{
        'comment.At Least 2 Char' | translate
      }}."
    ></textarea>
    <button
      type="submit"
      class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:bg-[#1C1C1D] dark:text-gray-500"
    >
      <svg
        class="w-5 h-5 rotate-90 rtl:-rotate-90"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 18 20"
      >
        <path
          d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"
        />
      </svg>
      <span class="sr-only">Send Comment</span>
    </button>
  </form>
  <!-- update comment  -->
  <form
    id="updateform"
    [formGroup]="updateCommentGroup"
    (ngSubmit)="UpdateComponentFun()"
    class="hidden items-center px-3 py-2 bg-gray-50 dark:bg-[#1C1C1D] dark:border-t dark:border dark:border-gray-600"
  >
    <textarea
      formControlName="contentUpdate"
      id="chat"
      rows="1"
      class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-[#1C1C1D] dark:text-white"
      placeholder="{{ 'comment.Your Comment' | translate }}, {{
        'comment.At Least 2 Char' | translate
      }}."
    ></textarea>
    <button
      type="submit"
      class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:bg-[#1C1C1D] dark:text-gray-500"
    >
      <svg
        class="w-5 h-5 rotate-90 rtl:-rotate-90"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 18 20"
      >
        <path
          d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"
        />
      </svg>
      <span class="sr-only">Send Comment</span>
    </button>
  </form>
</section>
