<router-outlet></router-outlet>
<ngx-spinner
  name="loadingSec"
  bdColor="rgba(255, 255, 255, 0.5)"
  size="medium"
  color="#0000ff"
  type="ball-clip-rotate"
  [fullScreen]="true"
  ><p class="text-lg font-bold" style="color: #0000ff">
    Loading...
  </p></ngx-spinner
>
<!-- in case of dark moode -->
@if (darkmode()==true) {
<ngx-spinner bdColor="#1C1C1D" name="loadingOffical" type="line-scale-party">
  <div
    class="w-full h-[100vh] flex flex-col justify-evenly items-center dark:bg-[#1C1C1D]"
  >
    <div>
      <img src="./assets/images/logo.webp" alt="logo of facebook" />
    </div>
    <div>
      <h6 class="text-center font-bold text-gray-500">from</h6>
      <p class="text-blue-600">
        <i class="fa-brands fa-meta mx-1 fa-lg text-blue-600"></i> <b>Meta</b>
      </p>
    </div>
  </div>
</ngx-spinner>
}
<!-- defult case white -->
@if (darkmode()==false) {
<ngx-spinner bdColor="#fff" name="loadingOffical" type="line-scale-party">
  <div
    class="w-full h-[100vh] flex flex-col justify-evenly items-center bg-white"
  >
    <div>
      <img src="./assets/images/logo.webp" alt="logo of facebook" />
    </div>
    <div>
      <h6 class="text-center font-bold text-gray-500">from</h6>
      <p class="text-blue-600">
        <i class="fa-brands fa-meta mx-1 fa-lg text-blue-600"></i> <b>Meta</b>
      </p>
    </div>
  </div>
</ngx-spinner>
}
