@media (max-width:350px) {
  .image-width{
    width:70px;
    height:70px;
    border-radius: 50%;
    top:280px !important;
    left:280px !important;
    right:20px !important;
    border: rgb(221, 217, 217) solid 5px;
    }
    .fonts{
      font-size: 8px !important;
      font-weight: 500 !important;
      white-space:nowrap ;
    }
    h2,h3{
      font-size: 15px;
      font-weight: 500;
      white-space:nowrap ;
    }
    p{
      font-size: 15px;
      font-weight: 500;
    }
    button{
      font-size: 8px;
      font-weight: 500;
      white-space:nowrap ;
    }
      .w-photos{
          width: 60px;
      }
      .modal-width{
          width: 95%;
      }
}
@media (min-width:350px) {
        .fonts{
          font-size: 8px !important;
          font-weight: 500 !important;
          white-space:nowrap ;
        }
        h2,h3{
          font-size: 15px;
          font-weight: 500;
          white-space:nowrap ;
        }
        p{
          font-size: 15px;
          font-weight: 500;
        }
        button{
          font-size: 10px;
          font-weight: 500;
          white-space:nowrap ;
        }
      .image-width{
        width:70px;
        height:70px;
        border-radius: 50%;
        top:280px !important;
        left:280px !important;
        right:25px !important;
        border: rgb(221, 217, 217) solid 5px;
        }
        .w-photos{
            width: 70px;
        }
        .modal-width{
            width: 95%;
        }
}
@media (min-width:400px) {
    .fonts{
        font-size: 10px !important;
        font-weight: 500 !important;
        white-space:nowrap ;
      }
      .image-width{
        width: 90px;
        height:90px;
        top:280px !important;
        left:280px !important;
        right:15px !important;
        border-radius: 50%;
        border: rgb(221, 217, 217) solid 5px;
        }
        .w-photos{
            width: 70px;
        }
        .modal-width{
            width: 90%;
        }
}
@media (min-width:600px) {
    .fonts{
        font-size: 15px !important;
        font-weight: 500 !important;
        white-space:nowrap ;
      }
      h2,h3{
        font-size: 25px;
        font-weight: 500;
        white-space:nowrap ;
      }
      p{
        font-size: 20px;
        font-weight: 500;
      }
      button{
        font-size:15px;
        font-weight: 500;
        white-space:nowrap ;
      }
      .image-width{
        width: 115px;
        height: 115px;
        border-radius: 50%;
        top:280px !important;
        left:280px !important;
        right:10px !important;
        border: rgb(221, 217, 217) solid 5px;
        }
        .w-photos{
            width: 120px;
        }
        .modal-width{
            width: 50%;
        }
}
@media (min-width:768px) {
  .fonts{
    font-size: 8px !important;
    font-weight: 500 !important;
    white-space:nowrap ;
  }
  h2{
    font-size: 15px;
    font-weight: 500;
    white-space:nowrap ;
  }
  h3{
    font-size: 10px;
    font-weight: 500;
  }
  p{
    font-size: 15px;
    font-weight: 500;
  }
  button{
    font-size: 10px;
    font-weight: 500;
    white-space:nowrap ;
  }
.image-width{
  width:130px;
  height:130px;
  border-radius: 50%;
  top:250px !important;
  left:280px !important;
  right:15px !important;
  border: rgb(221, 217, 217) solid 5px;
  }
  .w-photos{
      width: 70px;
  }
  .modal-width{
      width: 50%;
  }
}
@media (min-width:850px) {
h3{
  font-size: 15px;
  font-weight: 500;
}
.image-width{
width:130px;
height:130px;
border-radius: 50%;
top:250px !important;
left:280px !important;
right:15px !important;
border: rgb(221, 217, 217) solid 5px;
}
.w-photos{
    width: 100px;
}
.modal-width{
    width: 50%;
}
}
@media (min-width:1000px) {
    .fonts{
        font-size: 15px !important;
        font-weight: 500 !important;
        white-space:nowrap ;
    }
    h2{
        font-size: 35px;
        font-weight: 500;
        white-space:nowrap ;
      }
    h3{
        font-size: 20px;
        font-weight: 500;
        white-space:nowrap ;
      }
      button{
        font-size: 20px;
        font-weight: 500;
        white-space:nowrap ;
      }
      .image-width{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        top:250px !important;
        left:280px !important;
        right:25px !important;
        border: rgb(221, 217, 217) solid 5px;
      }
    //  s
    .w-photos{
        width: 150px;
    }
}
p{
  font-weight: 300;
}
h2 ,h3{
  font-weight: 500;
}
.fonts{
  white-space:nowrap ;
}