<section
  class="dark:bg-[#1C1C1D] w-full h-[100vh] pt-5 flex justify-center items-center"
>
  <section
    class="border border-sky-950 px-3 py-5 shadow my-2 rounded-xl mx-auto dark:bg-[#1C1C1D] dark:border dark:border-gray-600 w-11/12 md:w-9/12 lg:w-6/12"
  >
    <h2
      class="text-slate-700 text-3xl font-bold underline dark:text-white py-4"
    >
      {{ "change.Change Password" | translate }}:
    </h2>
    <form [formGroup]="changePassForm" (ngSubmit)="changePassFormFunc()">
      <div class="my-4">
        <div
          id="input-fack"
          class="bg-white rounded d-flex flex-col flex-nowrap"
        >
          <div
            class="rounded flex flex-nowrap items-center"
            [ngClass]="{ 
                'bg-green-100':!changePassForm.get('password')?.errors && (changePassForm.get('password')?.touched ||
                changePassForm.get('password')?.dirty),
                'bg-red-100':changePassForm.get('password')?.errors && (changePassForm.get('password')?.touched ||
                changePassForm.get('password')?.dirty),
             }"
          >
            <input
              (input)="inputfunc($event)"
              #inputPassword
              id="password"
              type="password"
              class="w-[95%] bg-transparent inputp"
              formControlName="password"
              placeholder="{{ 'change.Type Your password' | translate }}"
            />
            <i
              #passIcon
              id="pass"
              (click)="showPassword()"
              class="fas text-lg"
            ></i>
          </div>
        </div>
        @if (changePassForm.get('password')?.errors &&
        (changePassForm.get('password')?.touched
        ||changePassForm.get('password')?.dirty)) {
        <div
          class="border border-r-red-500 bg-red-200 rounded text-red-700 p-3 my-2"
          role="alert"
        >
          @if (changePassForm.get('password')?.getError('required')) {
          <p class="m-0">{{ "change.password is required" | translate }}.</p>
          } @else if (changePassForm.get('password')?.getError('pattern')) {
          <p class="m-0">
            {{
              "change.enter valid password. (8 char. at least one capital letter and on special letter)"
                | translate
            }}
          </p>
          }
        </div>
        }
      </div>
      <div class="my-4">
        <div
          id="input-fack"
          class="bg-white rounded d-flex flex-col flex-nowrap"
        >
          <div
            class="rounded flex flex-nowrap items-center"
            [ngClass]="{ 
          'bg-green-100 border border-green-100':!changePassForm.get('newPassword')?.errors && (changePassForm.get('newPassword')?.touched ||
          changePassForm.get('newPassword')?.dirty),
          'bg-red-50 border border-red-500':changePassForm.get('newPassword')?.errors && (changePassForm.get('newPassword')?.touched ||
          changePassForm.get('newPassword')?.dirty),
       }"
          >
            <input
              (input)="inputfunc2($event)"
              #inputPassword2
              id="newPassword"
              type="password"
              class="w-[95%] bg-transparent inputp"
              formControlName="newPassword"
              placeholder="{{ 'change.Type Your New  Password' | translate }}"
            />
            <i
              #passIcon2
              id="pass2"
              (click)="showPassword2()"
              class="fas text-lg"
            ></i>
          </div>
        </div>
        @if (changePassForm.get('newPassword')?.errors &&
        (changePassForm.get('newPassword')?.touched
        ||changePassForm.get('newPassword')?.dirty)) {
        <div class="bg-red-200 rounded text-red-700 p-3 my-2" role="alert">
          @if (changePassForm.get('newPassword')?.getError('required')) {
          <p class="m-0">{{ "change.newPassword is required" | translate }}.</p>
          } @else if (changePassForm.get('newPassword')?.getError('pattern')) {
          <p class="m-0">
            {{
              "change.enter valid password. (8 char. at least one capital letter and on special letter)"
                | translate
            }}
          </p>
          }
        </div>
        }
      </div>

      <button
        class="bg-blue-600 border border-blue-600 py-3 px-7 text-slate-50 rounded w-full block"
        type="submit"
      >
        {{ "change.Sigin In" | translate }} @if (isloading) {
        <span class="fas fa-spin fa-spinner"></span>}
      </button>
    </form>
    @if (messgerror) {
    <p
      class="text-center bg-red-200 rounded text-red-700 p-3 my-2 w-1/2 mx-auto"
      role="alert"
    >
      {{ messgerror }}
    </p>
    } @if (messsuccess) {
    <p
      class="text-center bg-green-200 rounded text-green-700 p-3 my-2 w-1/2 mx-auto"
      role="alert"
    >
      {{ messsuccess }}
    </p>
    }
  </section>
</section>
